/* Палітра кольорів сайту
    
Колір основного тексту: #757575;
Колір заголовків: #212121;

Основний колір фону: #ffffff;
Чорний колір: #000000;


Додатковий колір фону: #2F303A;
Додатквоий колір фону: #F5F4FA;
Акцент: #2196F3;

Hover кнопки: #188CE8;
Тел. та пошта у футері: rgba(255, 255, 255, 0.6);
Колір фону кнопок: #F5F4FA;

*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;


    --primary-white-color: #ffffff;
    --black-color: #000000;

    --secondary-bg-color: #2F303A;
    --tertiary-bg-color: #F5F4FA;
    --acent-color: #2196F3;
    --button-bg-color: #F5F4FA;

    --contacts-link-color: rgba(255, 255, 255, 0.6);
    --hero-btn-hover: #188CE8;
}


/* Загальні стилі сайту */

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
}

.list {
    list-style: none;
}


/* Шапка сайту */
/* Логотип */

.logo {
    font-family: Raleway, sans-serif;
    color: var(--black-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.footer .logo {
    color: var(--primary-white-color);
}

.logo>span {
    color: var(--acent-color);
}

/* Навігація */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--acent-color);
}

.site-nav .link.current {
    color: var(--acent-color);
}

/* Контакти в шапці */
.header-contacts .link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--acent-color);
}

/* Підвал */

.footer {
    background-color: var(--secondary-bg-color);
}

.address .link {
    color: var(--contacts-link-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address .link.primary {
    color: var(--primary-white-color);

}

.address .link:hover,
.address .link:focus {
    color: var(--acent-color);
}

/* Головний контент */
/* Блок герой */

.hero {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero-btn {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hero-btn-hover);
}

/* Секція */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Особливості */

.feature-title,
.works-title {
    display: none;
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Наша команда */

.section.team {
    background-color: var(--tertiary-bg-color);
    text-align: center;
}

.cards .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.cards .text {
    font-size: 16px;
    line-height: 1.19;
}


/* Стилі сторінки "Портфоліо" */
/* Фільрти */
/* Кнопки фільтру */

.filter-btn {
    background-color: var(--button-bg-color);
    color: var(--title-text-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
}

/* Проекти */

.projects .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.projects .link {
    text-decoration: none;
}

.projects .text {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
}
